
/* Import fonts from fonts.css */
@import url(./fonts.css);

/* import CSS variables */
@import url(./partials/_variables.css);

/*import global classes */
@import url(../css/partials/_global.css);


/* Start Navigation */
/* navigation bar padding */ 
.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
    padding: 1rem 20rem;
}

/* Fonts */
.header-area .main-menu .nav-item .nav-link  {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

/* Active link */
.header-area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    /* specify gradient color to the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Hover on navlinks */
.header-area .main-menu .navbar a:hover {
    background: var(--gradient-color);
    /*specify gradient color to the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* End Navigation */

/* Banner Area */

.site-banner {
    margin-top: 7%;
}


.site-main .site-banner .site-title {
    margin-top: 12%;
}

.site-main .site-banner .site-title h3{
    font-weight: 500;
}

.site-main .site-banner .site-title h3::before {
    content: "";
    display: inline-block;
    background: black;
    height: 2px;
    width: 10vw;
    margin-right: 5%;
    transform: translateY(-10px);
}


.site-main .site-banner .site-title h3::after {
    content: "";
    display: inline-block;
    background: black;
    height: 2px;
    width: 10vw;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    padding-top: 1%;
    font-size: 2.8rem;
}

.site-main .site-banner .site-title h4 {
    margin-top: 0%;
    font-size: 1.5rem;
}

 .site-main .site-banner .banner-image .banner-img{
    padding: 0%;
    margin-left: 0px;
    height: 35rem;
    width: 30rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area {
    padding: 5rem 5rem;
}
.about-area .about-title {
    margin-top: 15%;
    padding-left: 4%;
}
.about-area .about-title h2>span {
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.about-area .about-image {
    padding: 0%;
    margin-top: 10%;
    margin-left: 10%;
    height: 50rem;
    width: 50rem;
}

.about-area .paragraph>p {
    padding: .6rem 0;
}
/* End About Area */

/* Start Brands Area */
.brand-area {
    padding: 5rem 20rem;
    padding-bottom: 8rem;
}

.site-main .brand-area .first-row .col-lg-4 {
    display: flex;
    justify-content: center;
}

.first-row .col-lg-4 .single-brand {
    /* border: 1px solid var(--border-color); */
    text-align: center;
    padding: .5rem 0rem; 
    margin: .9rem 0;
    width:  18rem;
    height: 10rem;
    cursor: pointer;
    transition: transform .4s ease;
} 

.single-brand .fab:hover {
    /* box-shadow: var(--box-shadow); */
    transform: scale(1.4);
    filter: saturate(40);
}

.experience-area {
    padding-left: 6rem;
}

.experience-area span {
    display: block;
}

.experience-area .years-area {
    background: url(../img/client-info-bg.png) no-repeat /*horizontal position*/ 18px /*vertical position*/ 0%;
    padding: 2rem 2rem;
    width: 50rem;
    height: 18rem;
    position: relative;
}

.experience-area .bg-pannel {
    position: absolute;
    left: 190px;
    top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-top: 16%;
    margin-left: 0px;
    z-index: -1;
}

.years-area .years {
    font: normal bold 50px/30px var(--roboto);
    color: var(--primary-color);
    z-index: 2;
}

.years-area h2 > span{
    font: normal 600 40px/40px var(--roboto);
}

.call-area {
    padding-top: 0%;
    padding-left: 10rem;
}

/* End Brands Area */

/* Start Services Area */
.site-main .services-area {
    padding: 4rem 2rem;
}

.site-main .services-area .services-title {
    padding: 0rem 14rem;
}

.site-main .services-area .services {
    background: rgba(248, 252, 253, .973);
    padding: 2rem 0rem;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main .services-area .services:hover {
    box-shadow: var(--box-shadow);
}

/* End Services Area */

/* Start Project Area */
.project-area {
    padding: 4rem 0rem;
}

.project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.project-area .button-group button+button {
    padding-left: 3rem;
}

.project-area .grid .our-project .title h4 {
    font: normal 700 25px/12px var(--roboto);
}


.project-area .grid .our-project img:hover {
    filter: brightness(1.1) drop-shadow(1px 8px 3px #b1afaf);
}

/* End Project Area */


/* Start review area */
.about-area .about-title1 p {
    padding: 1rem 7rem;
}

.about-area .client {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.client .client-img {
    padding: 2rem;
}

.client .about-client {
    padding-top: 2rem;
}

.client .about-client h4 {
    font: normal 500 21px/20px var(--roboto);
}

.client .about-client p {
    font-size: 14px;
}

.about-area .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.owl-carousel .owl-dots .owl-dot.active span {
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}
/* End review area */