
/* Import fonts from fonts.css */
@import url(./fonts.css);

/* import CSS variables */
@import url(./partials/_variables.css);

/*import global classes */
@import url(../css/partials/_global.css);


/* Start Navigation */
/* navigation bar padding */ 
.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
    padding: 1rem 20rem;
}

/* Fonts */
.header-area .main-menu .nav-item .nav-link  {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

/* Active link */
.header-area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    /* specify gradient color to the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Hover on navlinks */
.header-area .main-menu .navbar a:hover {
    background: var(--gradient-color);
    /*specify gradient color to the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* End Navigation */

/* Banner Area */

.site-banner {
    margin-top: 7%;
}


.site-main .site-banner .site-title {
    margin-top: 12%;
}

.site-main .site-banner .site-title h3{
    font-weight: 500;
}

.site-main .site-banner .site-title h3::before {
    content: "";
    display: inline-block;
    background: black;
    height: 2px;
    width: 10vw;
    margin-right: 5%;
    transform: translateY(-10px);
}


.site-main .site-banner .site-title h3::after {
    content: "";
    display: inline-block;
    background: black;
    height: 2px;
    width: 10vw;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    padding-top: 1%;
    font-size: 2.8rem;
}

.site-main .site-banner .site-title h4 {
    margin-top: 0%;
    font-size: 1.5rem;
}

 .site-main .site-banner .banner-image .banner-img{
    padding: 0%;
    margin-left: 0px;
    height: 35rem;
    width: 30rem;
}

/* End Banner Area */
