
/* Global classes */

.title-text {
    font: /*style*/ normal /*weight*/ bold /*size/line height*/ 50px/65px /*family*/ var(--roboto) ;
}

.text-uppercase {
    text-transform: uppercase;
}

/* buttons */
.button {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    /* for using pseudo seletor i'll use RELATIVE positioning */
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background 5s ease; 
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}


.button.secondary-button {
    background: white;
    background-clip : padding-box;
/*    color: var(--gradient-color); */
    transition: background 5s ease;
}

.button.secondary-button:hover {
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

.button.button.primary-button::after, .button.button.secondary-button::after {
    position: absolute;
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    background: var(--gradient-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
}

p.para {
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);
}

font-roboto {
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

